<%
label ||= 'Message'
@title = label
%>
<%= render :partial => 'shared/user_menu', :locals => {:user => current_user} %>
<%= render :partial => "messages/message", :object => @message %>
<div id="new_reply" class="hidden">
	<%
	@message.subject = "RE: " + @message.subject
	@message.body = "\n\n\n\n" + @message.body.gsub(/^/, '> ')
	%>
	<%= render :partial => "messages/form", :locals => {:to_list => @to_list} %>
</div>