<%
#locals
blog ||= @blog
%>

<div id="blog">
	<!--<%= user_blogs_path(current_user) %>-->
	
  <% form_for [current_user, blog] do |f| %>
		<div class="row">
    	<label for="title">Title</label><%= f.text_field :title %>
		</div>
		
		<div class="row">
    	<label for="body">Content</label><%= f.text_area :body %>
    </div>

		<div class="instruction">To include a youtube video use: [youtube: address_of_video]</div>
		
	  <div class="row button">
    	<%= f.submit 'Save', :class=>'button' %>
  	</div>
  <% end %>
</div>