<%- total = list.length -%>
<% if !list.empty? %>
	<div class="activity_box">
		<h2>Most Recent Blog Posts 
		  <span>(latest <%= list.size %> of <%= total > size ? link_to( total, user_blogs_path(user)) : total%>)</span>
		</h2>
		<div class="inside_box">
		<ul>       
			<%= blogs_li list %>
		</ul>
			<div class="clear"></div>    
		</div>
	</div>
<% end %>