<h1>Edit Post</h1>
  <div id="sub_nav">
    	<%= link_to('&larr; Back to Dashboard', current_user) if current_user %>  
      <%= link_to '&larr; Back to Blogs', user_blogs_path(current_user) if current_user %>
  </div>
<%= render :partial => 'form' %>
