<h1>My Network</h1>	
<%= render :partial => 'shared/user_menu', :locals => {:user => @user} %>

<%= render :partial => 'friends/list', :locals => {:type => :friends, :with_friending => true, :size => nil} %>
<%= render :partial => 'friends/list', :locals => {:type => :followers, :with_friending => true, :size => nil} %>
<%= render :partial => 'friends/list', :locals => {:type => :followings, :with_friending => true, :size => nil} %>