<div class="left" id="column_l">
	<% if @groups.empty? %>
			<p>There are not currently any groups.</p>
  <% else %>
  	<%= render :partial => 'groups/group', :collection => @groups %>
  <% end %>
</div>