<div class="text_c" style="padding-top: 20px;">
 	<a href="/contact">Contact Us</a> | <a href="http://www.<%= GlobalConfig.application_base_url %>/news" target="_blank">News</a>
</div>
<div id="message" class="fixed"></div>

