<div class="text_c" style="padding-top: 20px;">
 	<a href="http://lovdbyless.com/contact">Contact Us</a> | <a href="http://b.lesseverything.com/lovd-by-less" target="_blank">Blog</a>
</div>
<div id="message" class="fixed"></div>

