<div class="row">
	<div id="<%= field_name %>-container" class="form-item">
		<%= render :partial => 'forms/base_field', :locals => local_assigns  %>		
	</div>
	<div id="<%= field_name %>-help" class="hidden-tips">
		<%= tip %>
	</div>
</div>