<div class="standard_form">
	<% custom_form_for :group, :url => user_groups_path(@user) do |f| -%>
    <h1>Create a New Group</h1>
		<%= render :partial => 'shared/user_menu', :locals => {:user => @user} %>
		<%= render :partial => 'groups/form', :locals => {:form => f} %>
		<div class="button">
    	<%= f.submit "Create", :class => 'button' %>
			<%= link_to 'Cancel', user_groups_path(@user), {:class => 'button'} %>
		</div>
	<% end -%>
</div>